doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    script(src="/javascripts/sendData.js")
    script(src="//developers.kakao.com/sdk/js/kakao.min.js")
    script(type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c09c9d8ca088258922c4d00cde9ec05d&libraries=services")
  body
    header
      img(src="/images/logo.svg")
      p.user-current-position
    main
      p= message
    footer Developed by Perlpark

  script(src="/javascripts/getCurrentPosition.js")