doctype html
html
  include includes/head.pug
  body.main
  include includes/header.pug
  main
    form#form(action="/search" method="get")
      input(id="latInput" type="hidden" name="lat" value= routeId)
      input(id="lngInput" type="hidden" name="lng" value= routeId)
      input(id="routeId" type="hidden" name="routeId" value= routeId)
      div#search-position
        a 현재 위치
        span 에서 
      div#search-bus
        a= routeNo
        span 번 버스
        button(type="submit")
          i(class="material-icons") search
    a.button-style(href="/support/bus") 지원 버스 확인하기
    div#bookmark.hidden
      h2 저장한 버스 도착 정보
      p 저장된 버스 도착 정보가 없습니다. 자주 확인할 도착 정보를 저장하여 빠르게 조회하세요.
    script(src="/javascripts/getCurrentPosition.js")
    script(src="/javascripts/main.js")