doctype html
html.search
  include includes/head.pug
  body.search
  header
    form#form(action="/bus" method="post")
      button#btn-back(type="button")
      input(id="routeNoInput" type="text" name="routeNo" placeholder="찾고 싶은 버스 번호를 입력하세요.")
  main#result
    div#blank
      i(class="material-icons") error_outline
      p 최근 검색한 기록이 없습니다.
  script(src="/javascripts/getBusList.js")
  script(src="/javascripts/search-bus.js")
  