doctype html
html.search
  include includes/head.pug
  body.search
  header
    div
      button#btn-back(type="button")
      input(id="routeNameInput" type="text" name="routeName" placeholder="주소나 건물명을 입력하세요.")
  main
  script(src="/javascripts/search-position.js")