doctype html
html.search
  include includes/head.pug
  body.search
  header
    div
      button#btn-back(type="button")
      input(id="routeNameInput" type="text" name="routeName" placeholder="주소나 건물명을 입력하세요.")
  main#map
  div#block-container
    div#block-fixed
      div#info 경기 수원시 팔달구 매산로3가 1-1
      div#btn 이 주소로 위치 설정
  script(src="/javascripts/search-position.js")