@media only screen and (max-width: 940px) {
  .button-style {
    position: absolute;
    bottom: 60px;
    right: 20px;
  }
}

@media only screen and (max-width: 600px) {
  form {
    margin: 20vh 0 0 15vw;
    text-align: left !important;

    div {
      display: block;
      margin-bottom: 10px;
    }
  }

  .search {
    header {
      div {
        padding: 10px;
      }
    }
  }
}