@charset "UTF-8";
/* 변수 */
/* 초기화 */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

body {
  font-family: "Helvetica Neue", "Apple SD Gothic Neo", "Roboto", "NotoSans", "Malgun Gothic", "맑은 고딕", "돋움", dotum, sans-serif;
  font-size: 1em;
  height: 100vh;
  padding: 5vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }

header {
  display: flex;
  flex-direction: column;
  align-items: center; }

.user-current-position {
  margin-top: 30px;
  padding: 0.2rem;
  font-size: 0.8em;
  color: #9B9B9B;
  border-width: 1px;
  border-color: #ddd;
  border-style: solid;
  border-radius: 3px; }

.material-icons.md-18 {
  font-size: 0.8em; }

form {
  display: flex;
  width: 100vw;
  max-width: 450px;
  margin-bottom: 15vh; }
  form * {
    border-width: 0;
    transition-property: all;
    transition-duration: 0.5s;
    box-shadow: 0 15px 30px -20px #b78bdf; }
    form *:hover {
      box-shadow: 0 15px 30px -15px #b78bdf; }
    form *:focus {
      outline: none; }
  form input {
    flex-grow: 1;
    padding: 1rem 1.5rem;
    font-size: 1.3em;
    border: 1px #ccc solid;
    border-radius: 5px; }
  form .boundToList {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px; }
  form select {
    width: 378px;
    max-height: 180px;
    overflow: scroll;
    position: absolute;
    margin-top: 57px;
    background-color: white;
    border: 1px #ccc solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; }
    form select option {
      padding: 0.8rem 1.1rem;
      font-size: 1.2em;
      border-top-width: 1px;
      border-top-color: #ccc;
      border-top-style: solid;
      box-shadow: none; }
    form select option:first-child {
      border-top-width: 0; }
    form select option:hover {
      background-color: #fffeee;
      box-shadow: none; }
  form button {
    flex: none;
    margin-left: 1rem;
    color: #fff;
    border-radius: 5px;
    background-color: #b78bdf;
    padding: 1rem; }
    form button:hover {
      background-color: rgba(183, 139, 223, 0.8);
      box-shadow: 0 15px 30px -15px #b78bdf; }

footer {
  color: #cccccc; }
