/* 변수 */
$font_family: "Helvetica Neue","Apple SD Gothic Neo","Roboto","NotoSans","Malgun Gothic","맑은 고딕","돋움",dotum,sans-serif;
$point_color: rgba(183,139,223,1);
$point_color-hover: rgba(183,139,223,0.8);

/* 초기화 */
* {
  padding:0;
  margin:0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: $font_family;
  font-size:1em;

  height: 100vh;
  padding: 5vh 0;
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: space-between;
}

header {
  display:flex;
  flex-direction:column;
  align-items: center;
}

.user-current-position {
  margin-top:30px;
  padding: 0.2rem;
  font-size:0.8em;
  color: #9B9B9B;
  border-width: 1px;
  border-color: #ddd;
  border-style: solid;
  border-radius: 3px;
}
.material-icons.md-18 {
  font-size:0.8em;
}

form {
  display:flex;
  width:100vw;
  $widthSize: 450px;
  max-width:$widthSize;
  margin-bottom:15vh;
  
  * {
    border-width: 0;
    transition-property: all;
    transition-duration: 0.5s;
    box-shadow: 0 15px 30px -20px $point_color;

    &:hover {
      box-shadow: 0 15px 30px -15px $point_color;
    }
    &:focus {
      outline: none;
    }
  }
  input {
    flex-grow: 1;
    padding:1rem 1.5rem;
    font-size:1.3em;
    border:1px #ccc solid;
    border-radius: 5px;
  }
  .boundToList {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  select {
    width: $widthSize - 72px;
    max-height: 160px;
    overflow: scroll;
    position: absolute;
    margin-top: 57px;
    background-color: white;
    border:1px #ccc solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    /* 네이티브 외형 감추기 */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    option {
      padding: 0.8rem 1.1rem;
      font-size:1.3em;
      border-top-width: 1px;
      border-top-color: #ccc;
      border-top-style: solid;
      box-shadow: none;
    }
    option:first-child {
      border-top-width: 0;
    }
    option:hover {
      background-color: #fffeee;
      box-shadow: none;
    }
    .hiddenItem {
      display: none;
      height: 0px;
      padding: 0px;
    }
  }
  button {
    flex: none;
    margin-left:1rem;
    color: #fff;
    border-radius: 5px;
    background-color: $point_color;
    padding:1rem;

    &:hover{
      background-color: $point_color-hover;
      box-shadow: 0 15px 30px -15px $point_color;
    }
  }
}

/* 검색 결과 리스트 */
.result-list {
  p span {
    margin-left: 16px;
    color: #FF9393;
  }
}

footer {
  color: #cccccc;
  text-align: center;
}