@import '_variable.scss';
@import '_mixin.scss';


/* 초기화 */
* {
  padding:0;
  margin:0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: $font_family;
  font-size:1em;
  color: $dark_color;
  @include background-gradient(#CA9DF2, #895DFF); 
}

/* 화면 최대 사이즈, 중앙 정렬 - PC */
header, main, footer {
  width:100vw;
  min-width: 380px;
  max-width: 600px;
  margin:0 auto;
}

.hidden {
  display: none;
}

/* Modal */
.modal {
  @include absolute-translate(50%, 50%, -50%, -50%);
  width: 60%;
  max-width:300px;
  background-color: $light_color;
  padding: 30px;
}

.button-style {
  position: fixed;
  bottom: 20px;
  right: 20px;
  text-decoration: none;
  font-size: 0.9em;
  color: $light_color;
  padding: 13px 18px;
  background-color: $dark_color-alpha05;
  border-radius: 25px;
}


/* 로딩 스플래시 */
// .intro {
//   text-align: center;
//   color: $font_color-alpha05;

//   main {
//     position: relative;
//     height: 75vh;
//   }
//   .logo {
//     width: 60%;
//     margin-top: 20vh;
//   }
//   footer {
//     height: 25h;

//     .messageBlock {
//       margin-bottom: 50px;
//     }
//     .message {
//       padding-left: 25px;
//       background-image: url('../images/loading.svg');
//       background-size: auto 90%;
//       background-position-y: center;
//       background-repeat: no-repeat;
//     }
//   }
// }

/* 메인 화면 */
header {
  text-align: center;
}

.logo {
  width: 120px;
  margin-top:20px;
  margin-bottom:5px;
}

#position-textfield {
  padding: 0.2rem 0.3rem 0.2rem 20px;
  font-size:0.75em;
  color: $light_color-alpha05;
  border-width: 1px;
  border-color: $light_color-alpha05;
  border-style: solid;
  border-radius: 5px;
}
.loading {
  background-image: url('../images/loading.svg');
  background-size: auto 70%;
  background-position: 2px center;
  background-repeat: no-repeat;
}
.gps-on {
  padding-left: 18px !important;
  background-image: url('../images/gps.svg');
  background-size: auto 60%;
  background-position: 3px center;
  background-repeat: no-repeat;
}

/* 메인 화면 - Form */
form {
  margin: 25vh auto 30vh auto;
  text-align: center;
  
  * {
    border-width: 0;
    transition-property: all;
    transition-duration: 0.5s;
  }
  div {
    display: inline;
    font-size: 2.5em;
    font-weight: bold;
    color: $light_color;
    text-shadow: $dark_color-alpha05 0 3px 10px;
  }
  #search-position a {
    color: $light_color;
    text-decoration: none;
    border-bottom: 3px $light_color solid;
    cursor: pointer;
  }
  #search-bus a {
    color: $light_color-alpha05;
    text-decoration: none;
    border-bottom: 3px $light_color-alpha05 solid;
    cursor: pointer;
  }
  button {
    width: 50px;
    height: 50px;
    color: $point_color;
    background-color: $light_color;
    border-radius: 50%;
    box-shadow: 0 3px 10px $dark_color-alpha05;
    margin-left: 15px;
  }
}

/* 메인 화면 - bookmark */
#bookmark {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 600px;
  
  h2 {
    margin: 0 20px;
    border-radius: 5px 5px 0 0;
    background-color: $light_color;
    padding: 15px;

    font-size: 1em;
    text-align: center;
  }
  p {
    margin-top: 1em;
    display: none;
    text-align: center;
  }
}


/* 검색 화면 - 공통 */
.search {
  height: 100%;

  body {
    background: $light_color;
    height: 100%;
  }

  header {
    background-color: $point_color;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    max-width: 100%;
    z-index: 100;

    div {
      @include flex-parent();
      flex-direction: row;
      padding: 20px 20px 20px 10px;
      max-width: 600px;
      margin: 0 auto;
    }

    #btn-back{
      background-color: transparent;
      background-image: url('../images/arrow_back.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 70%;
      border: 0;
      color: $light_color;
      width: 50px;
      height: 50px;
      margin-right: 10px;
    }
    input {
      @include flex-width-child(1);
      height: 50px;
      border-radius: 5px;
      border: 0;
      font-size: 1.2em;
      padding: 1.2rem;
      box-shadow: 0 3px 10px $dark_color-alpha05;
    }
  }

  main {
    max-width: 100%;
    height: 100%;
    position: relative;

    #blank {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 75%;
      background-image: url('../images/illust_blank.jpg');
      background-size: auto 450px;
      background-position: center bottom;
      background-repeat: repeat-x;

      text-align: center;
      line-height: 2em;
    }
  }
}

@import '_media.scss';